@{
    ViewData["Title"] = "Reservation Success";
}

<h2>Reservation Success</h2>

<p>Your reservation was successful!</p>

<div>
    <a asp-action="Search" asp-controller="Bike">Back to Bike List</a>
</div>
