@model BicycleStore.Models.Bike

@{
    ViewData["Title"] = "Reservation Success";
}

<h1>Reservation Success</h1>

<h3>You have successfully reserved the bike:</h3>
<div>
    <h4>Bike</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    <div>
        <a asp-action="MyOrders" class="btn btn-primary">Back to List</a>
    </div>
</div>
