@model IEnumerable<BicycleStore.Models.Bike>

<table class="table">
    <thead>
        <tr>
            <th>Model</th>
            <th>Price</th>
            <th>Supplier</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Model)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Supplier.Name)</td>
                <td>
                    @if (!item.IsReserved)
                    {
                        <form asp-action="Reserve" asp-controller="Order" method="post">
                            <input type="hidden" name="bikeId" value="@item.Id" />
                            <input type="submit" value="Reserve" class="btn btn-primary" />
                        </form>
                    }
                    else
                    {
                        <button class="btn btn-secondary" disabled>Reserved</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
